@import url('https://fonts.googleapis.com/css2?family=Assistant:wght@300&display=swap');

body{
  font-family: 'Assistant', sans-serif;
  background-color: white;
}

.leaflet-control-container .leaflet-routing-container {
  display: none;
}

* { -webkit-tap-highlight-color: rgba(0,0,0,0); }