body {
  padding: 2rem;
  background-color: #0f1014;
}

.mapboxgl-ctrl-attrib-inner {
  display: none;
}

.mapboxgl-canvas {
  border-radius: 15px;
}

.SCRL::-webkit-scrollbar {
  width: 4px;
}

.SCRL::-webkit-scrollbar-track {
  background-color: #4a4c4f;
}

.SCRL::-webkit-scrollbar-thumb {
  background-color: darkgrey;
  outline: 1px solid slategrey;
  border-radius: 50px;
  width: 6px;
}

.bgC {
  padding: 2rem;
  margin: -2rem;
  margin-top: 50px;
}
.hide-scrollbar::-webkit-scrollbar {
  display: none;
}

.hide-scrollbar {
  -ms-overflow-style: none;
  scrollbar-width: none;
}

.scroll-snap-type-x {
  scroll-snap-type: x mandatory;
}

.scroll-snap-align-start {
  scroll-snap-align: start;
}